<h1 [hidden]="username1 ===''">Welcome {{ username1 }}</h1>
<h1 [hidden]="username1 !==''">Please enter your username</h1>
<div>
  <label for="in1">Username:</label>
  <input type="text" id="in1" (input)="onUserNameInputChange($event)">

  <label for="in2">Password:</label>
  <input type="password" id="in2" (input)="onPassword($event)">

  <label for="in3">Retype Password:</label>
  <input type="password" id="in3" (input)="onRePassword($event)">
</div>
<label [hidden]="!matchPassword || password === ''">password is match</label>
<label [hidden]="matchPassword || password === ''">password is not match!</label>

<br>
<br>
<br>
<input type="text" #inputName>
<button (click)="onClick(inputName.value)">click me!</button>
<br>
<br>
<hr>
<br>
<br>

<div *ngIf="!isLoggedIn ; else welcome">
  <form [formGroup]="logInForm" (ngSubmit)="loginUser()">

    <div><label for="log">:نام کاربری</label>
      <input id="log" type="text" formControlName="userName">
    </div>
    <br>

    <label for="rememberMe" style="margin: 10px">remember me<input id="rememberMe" type="checkbox"
                                                                   formControlName="rememberMe"></label>

    <button (click)="loginUser()">ورود</button>
  </form>
</div>
<br>
<br>
<br>

<ng-template #welcome>hi {{ userName }} welcome

  <button (click)="logoutUser()">خروج</button>

</ng-template>

<router-outlet/>
